* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    margin: auto;
    background-color: #131111;
    color: white;
    font-family: "Poppins", sans-serif;
    min-width: 355px;
    
   
}
.navbar{
    max-width: 1200px;
    margin: auto;
}

.logo{
    font-family: 'Kaushan Script';
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
}
.contact{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background: linear-gradient(95deg, #E72C2C 2.56%, #811919 99.91%);
    padding: 1rem 2.6rem;
    border-radius: 4rem;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}
.contact:hover {
    background: linear-gradient(60deg, #811919 99.91%, #E72C2C 2.56%);
    padding:1.2rem 2.8rem;
}

.hero{
    display: flex;
    /* align-items: center; */
    max-width: 1200px;
    margin: auto;
}




.ctabtn-hero{
    display: flex;
    align-items: center;
    margin-top: 3.5rem;

}


.overlay{
    /* width: 100%; */
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

} 
#bodycontent{
    max-width: 1100px;
}
.container_swipe{
    margin-top: 8rem;
    
    
}
.slider-wrapper{
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto 5.5rem;
 
    
}


.items{
    display: flex;
    user-select: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 2rem 2rem;
    background: rgba(21, 52, 169, 0.52);
    max-width: 27rem;
    height: 55rem;
    border-radius: 0.8rem;
    background: rgba(21, 52, 169, 0.52);
    margin: 0 auto;
}


.card-list .card-item .user-image{
    width: 14rem;
    margin-bottom: 2rem;

}

.card-list .card-item .user-profission{

    font-size: 1.6rem;
   font-family: 'Kaushan Script';
   margin: 0.5rem 0 0.5rem;

} 
.card-list .card-item .stars{
    width: 15.0rem;
    margin-bottom: 2rem;
}
.card-list .card-item .comentario{
    font-size: 1.4rem;
    color: #D9D9D9;
    text-align: justify;
    line-height: 2.5rem;
    height: 12rem;
    margin-bottom: 1rem;
    
}
.card-list .card-item .comentario span{
    color: white;
    font-weight: 600;
}

.slider-wrapper .swiper-pagination-bullet{
    background: #fff;
    height: 1.5rem;
    width: 1.5rem;
}
.slider-wrapper .swiper-slide-button{
    display: none;
    color: #D9D9D9;
    margin-top: -5rem;
    transition: 0.2s ease-in-out;
}
.slider-wrapper .swiper-slide-button:hover{
    color: #DB1D1D;
}

.heroimage{
    display: none;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.2s;

}
.hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-20%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    /* transform: translateY(0); */
    
}

.heroel:nth-child(1){
    transition-delay: 600ms;
}
.heroel:nth-child(2){
    transition-delay: 200ms;
}
.heroel:nth-child(3){
    transition-delay: 400ms;

}


@media (min-width: 250px){
    .herosection{
        padding: 0 2rem 0 2rem;
        width: 100%;
        position: relative;

    }
    .navbar{
        display: none;
    }
    .navbar_mobile{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        /* position: fixed; */
        z-index: 999;
    }
    .iconhide{
        display: none; 
    }

    #menumobile{
        display: none;
        flex-direction: column;
        align-items: center;
        margin:auto;
        background-color: hsla(227, 78%, 37%, 0.89);
        width: 100%;
        position:absolute;
        top: 4.8rem;
        padding: 2rem;
        gap: 0.8rem;
        z-index: 999;
        
    }
    li{
        list-style: none;
    }

    
    .hero{
        flex-direction: column;
        align-items: center;
        
        
    }
    .herocontent{
        width: 90%;
        margin-bottom: 5rem;
    }
    .th{
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;

    }
    .th-span{
        color: #E72C2C;
        line-height: 2rem;
    }
    .subth{
        font-size: 1.8rem;
        font-weight: 400;
        margin: 3rem 0 -2rem;
        line-height: 2.5rem;
    }
    .heroimage{
        display: none;
    }
   .heroimage-mobile{
        width: 80%;
        position: relative;
        z-index: -2;
        margin: 4.2rem 0 3.9rem 0;
   }
   #cta-hero{
    border: none;
    border-radius: 4rem;
    font-size: 1.6rem;
    padding: 1rem 2.2rem;
    background-color: #1534A9;
    color: white;
    margin-right: 3.7rem;
    transition: all ease-in-out 0.2s;
}
#cta-hero:hover{
    padding: 1.2rem 2.4rem;
    background-color: #DB1D1D;
}

.ctabtn-hero img{
    display: none;
}

.overlay{
    background: linear-gradient(180deg, rgba(13, 13, 13, 0.00) 25.1%, #000 56.93%);


}
#bodycontent{
    margin: 4rem auto;
    width: 90%;
 }
 .beneplans{
    margin: auto;
 }
.meet-nelio{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 110rem;
    margin-top: 4rem;
}
.infonelio{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 110rem;
}
.neliomeet{
    width: 60%;
    
}
.h1meet{
    margin: 4rem 0 1.5rem 0;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2.4px;
   
}
.h1meet span{
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-fill-color: transparent;
}

.pmeet{
    width: 90%;
    line-height: 2rem;
    font-size: 1.4rem;
    text-align: center;
    color: #D9D9D9;
}
.pmeet span{
    font-weight: 700;
    color: white;
}
.timeline{
    display: flex;
    /* text-align: start; */
    margin-top: 3.4rem;
    
       
}
.timeline div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid white;
    border-top: none;
    border-bottom: 0;
    height: 12rem;
    border-color: rgba(255, 255, 255, 0.35);
    text-align: center;
    width: 100%;

    
}
.timeline div:nth-child(1){
    border-right: none;
}
.timeline div:nth-child(3){
    border-left: none;
}
.timeline div h2{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}
.timeline div p{
    font-size: 1.2rem;
    line-height: 15px; /* 125% */
    letter-spacing: 0.6px;
    width: 95%;
}
.btnbody{
    /* width: 100%; */
    margin-top: 6rem;
}

.morebtn{
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    background: linear-gradient(95deg, #E72C2C 2.56%, #811919 99.91%);
    padding: 2rem 6rem;
    border-radius: 4rem;
    text-decoration: none;
    
    cursor: pointer;
}


.divider{
    margin-top: 6rem;
    width: 80%;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .infonelio{
    margin-top: 3rem;
}
.services .h1meet{
    margin-bottom: 2rem;
}

.pacotes{
    font-size: 3rem;
    margin: 5rem auto;
    text-align: center;
}

 .planos{
    display: flex;
    justify-content: center; 
    margin: 2rem auto;
   
 }
 .normal{
    background-color: #E72C2C;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    position: relative;
    left: 2rem;
    cursor: pointer;
    
 }
 .vip{
    background: rgba(217, 217, 217, 0.25);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    
 }
 #shownormal{
    display: none;
    position: relative;
    left: 2rem;
    
 }
 #shownormal .normal{
    background: rgba(217, 217, 217, 0.25);
    left: 0rem;
 }
 #shownormal .vip{
    position: relative;
    background-color: #E72C2C;
    right: 2rem;
 }

 .cards{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    font-family: "Inter", sans-serif;
 }
 #plans_vip{
    display: none;
 }
 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height:260px;
    background-color: #1534A9;
    gap: 3rem;
    border-radius: 3rem;
 }
 .cardnorm{
    height:40rem;
    margin-top: 1rem;
 }
 .cardsvip{
    height: 60rem;
 }
 .card:nth-child(2){
    background-color: #DB1D1D ;
 }
 .info{
    display: flex;
    width: 190px;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding-top: 30px;
    letter-spacing: 0.18rem;

 }
 .info p{
    text-decoration: line-through;
 }
 .info p{
    font-size: 1.2rem;
 }
 .info h3{
    font-size: 1.6rem;
    font-weight: normal;
    
 }
 .info h2{
    font-size: 2rem;
    margin-bottom: 2rem;

 }
 .info h1{
    font-size: 2rem;
 }
 .cardnorm button, .cardsvip button{
    margin: 2rem 0;
 }
  
 .btncard{
    padding: 1.5rem 3rem;
    border-radius: 4rem;
    border: none;
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    font-weight: 700;
    color: #1534A9;
    cursor: pointer;
    

 }
 .btncard a{
    font-size: 2rem;
    font-weight: 700;
    color: #1534A9;
 }
 .card:nth-child(2) .btncard{
    color: #DB1D1D;
 }
 .beneficios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1%;
    margin-top: 4rem;
    max-width: 110rem;
 }

 .beneplans{
    margin-top: 8rem;
}
 .contbene{
    text-align: center;
    margin-bottom: 4rem;
    
    /* padding: 0 1rem; */
 }
 .contbene img{
    width: 40%;
 }
 .contbene p{
    font-size: 1.4rem;
    width: 14.1rem;
    margin-top: 1.4rem;
    text-transform: uppercase;
    line-height: 2rem;
 }
 

 .introteste {
    text-align: center;
    width: 90%;
    margin: 15rem auto 6rem;
    max-width: 110rem;
 }
 .introteste h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    line-height: 4rem;
    max-width: 600px;
    margin: 2rem auto;

 }
 .introteste h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #D9D9D9;
    -webkit-text-stroke-width: 0.1rem;
 }
 .introteste p{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: normal;
    color: #D9D9D9;
    text-align: center;
    
 }
 .d21 p{
    margin-top: 3rem;
    
 }
 .introteste p span{
    font-weight: 700;
    color: white;
    }

    .perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 130rem;
        margin: auto;
    }
    .testemunho img:nth-child(4){
        display: none;
    }
    .id {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .id img{
            width: 60%;
            max-width:50.4rem;
        }
    .name{
    position: relative;
    bottom: 5rem;
    text-align: center;
    }

    .name h2{
    font-size: 2rem;
    margin-bottom: 0.4rem;
    }

    .name p{
    font-size: 1.4rem;
    font-family: 'Kaushan Script';

    }
    .testemunho {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    
}
.testemunho h1{
    font-size: 6.4rem;
    color: #1534A9;
    line-height: 2rem;
}
.testemunho img{
    width: 30%;
    margin-bottom: 1rem;
}

.testemunho p{
    font-size: 1.4rem;
    color: #D9D9D9;
    text-align: justify;
    line-height: 2.5rem;
}

.testemunho p span, .premio span{
 font-weight: 600;
 color: white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #1534A9; */
    
}

a{
   text-decoration: none; 
   color: white;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #303030;
    width: 100%;
    height: 50rem;
    gap: 2rem;

}
.left .logo{
    display: none;
    font-weight: normal;
    font-size: 3rem;
}
.icons{
    display: none;
   
}
.iconsmob{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.icons img{
    width: 3.5rem;
}
.left h3{
    text-decoration: underline;
    font-size: 1.8rem;
    margin-top: 4rem;
}
.contacts{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contacts p, a{
    font-size: 1.8rem;
}
.contacts p{
    /* padding: 0.5rem; */
    margin-bottom: 1rem;
}
.contacts a{
    color: white;
    text-decoration: none;
}

.form-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #1534A9;
    height: 40rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
}
form .label{
    font-size: 2.4rem;
    
}
form .input{
    font-size: 1.8rem;
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    width: 30rem;
    outline: none;


}
form .submit{
    font-size: 1.8rem;
    padding: 1.2rem;
    width: 15rem;
    border-radius: 0.5rem;
    border: none;
    background: #DB1D1D;
    color: white;
}
.cabecalho{
    width: 100%;
    text-align: center;
    background: #303030;
    margin-top: 1.5rem;
}
.cabecalho h1{
    padding: 2rem 0;
    font-size: 1.4rem;
}
.cabecalho .titulos{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
    color: #D9D9D9;
}
.pmeet:nth-last-child(1){
    margin-top: 2rem;
}

.experience{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    margin: 5rem auto 0;
    background: #1534A9;
    width: 90%;
    padding: 4rem;
    
}
.experience .quntdata{
    text-align: center;  
}

.quntdata h1{
    font-size:4rem;
    margin-bottom: 0.6rem;
    letter-spacing: 2px;
}
.quntdata p{
    font-size: 1.6rem;
    color: #D9D9D9;
}

    .premios{
        text-align: center;
        margin-bottom: 5rem;

    }
    .premio img{
        width: 30%;
        margin: 4rem 0 1rem;

    }
    .premio p{
        font-size: 1.4rem;
        width: 50%;
        text-align: center;
        margin: auto;
    }
    .justifyed{
        text-align: justify;
    }

    #incluso_A{
        display: flex;
        margin: auto;
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 110rem;
        
    }
    #incluso{
        display: none;
        max-width: 110rem;
    }

    .intext_p{
        min-height: 10rem;
        padding: 2rem;
        background: #303030;

    }
    .intext_p p{
        margin-top: 2rem;
        font-size: 1.4rem;
        text-align: justify;
        color: #D9D9D9;
    }
    .intext_A h1{
        font-size: 1.4rem;
        text-align: center;
    }
    .intext_p  span{
        font-weight: bold;
        color: #fff;
    }

    .footer{
        margin-top: 15%;
    }
    .planservice{
        margin-top: 8%;
    }
    .info ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.8rem;
        margin: 2rem;
        list-style: none;
        justify-content: center;
        
    }
    .info ul li img{
        width: 10%;
        margin-right: 1rem;
    }
    .info li{
       display: flex;
       align-items: center;
       font-size: 1.4rem;
       
       
    }
    .info .desc:nth-child(1){
       text-decoration: line-through;
    }
    .showcase{
        display: flex;
        justify-content: center;
        margin: 4rem 0;
    }

    .d21image{
        width: 80%;  
        /* max-width: 120rem; */
    
    }
    #lojabody{
        margin-top: 2rem;
    }
    .suplementos{
        display: flex;
        width: 90%;
        justify-content: center;
        margin: auto;
        max-width: 110rem;
        
    }
    .suplementos img{
        width: 40%;
        margin-top: 5rem;
    }
    .ptext{
        text-align: justify;
        margin-top: 2rem;
    }

    .beneindex{
       
        width: 80%;
    }
    .lojaimage{
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
       gap: 2rem;
       margin-bottom: 3rem;
       max-width: 110rem;
    }
    .lojaimage img{
        max-width: 40%;
        margin-top: 2rem;
    }

    .mapa{
        display: flex;
        margin: auto;
        width: 90%;
        justify-content: center;
    }

    
}




@media (min-width: 500px){
    .name{
        bottom: 7rem;
    }
  .name h2{
    font-size: 2.4rem;
  } 
  .name p{
    font-size: 1.8rem;
  }
  .h1meet{ 
    font-size:2.4rem;
}
}
@media (min-width: 550px) {
    .navbar_mobile{
        display: flex;
    }
    .th{
        font-size: 3.5rem;

}
.subth{
    font-size: 2.5rem;
}

#cta-hero{
    padding: 1rem 2.4rem;
    font-size: 2rem;
}
#cta-hero:hover{
    padding: 1.2rem 2.5rem;
    background-color: #DB1D1D;
}
.timeline div p{
    font-size: 1.2rem;
}
form{
    width: 42rem;
}
form .input{
    padding: 1.4rem;
    width: 42rem;
    


}
form .submit{
    font-size: 2rem;
    padding: 1.5rem;
    width: 18rem;
    
}
.icons img{
    width: 4rem;
}



}

@media (min-width: 610px) {
    .name{
        bottom: 7rem;
    }
    .contacts{
        
        flex-direction: row;
        gap: 5rem;
    
    }
    
}

@media (min-width: 700px) {
    .navbar_mobile{
        display: none;
       
    }
    .navbar{
        display: flex;
        padding: 3.2rem 0 0rem 0;
        justify-content: space-between;
        align-items: center;
    }
    .menu{
        display: flex;
        gap: 3rem;
        font-size: 2rem;
        
        list-style: none;
        
    }
    .menu a{
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
    }

    
    .hero{
     flex-direction: row;
     justify-content: center;
    }
    .heroimage-mobile{
        display: none;
    }
    .heroimage{
        display: flex;
        width: 45%;
        margin-top: 4rem;
        z-index: -2;
    }
    .herocontent{
        width: 50%;
        
        
    }
    .th{
        font-size: 2.5rem;
        
        line-height: 2.4rem;
    }
    
    .subth{
        font-size: 1.6rem;
    }

    .overlay{
        background: linear-gradient(180deg, rgba(13, 13, 13, 0.00) 25.1%, #000 90.93%);
    
    
    }
    .ctabtn-hero img{
        display: flex;
    }
    .meet-nelio{
        
            width: 90%;
            margin: 4rem auto;
        flex-direction: row;
        gap: 2rem;
       
    }
  .pmeet{
        font-size: 1.6rem;
        text-align: start;
        
    }
   
    .neliomeet{
        width: 40%;
        margin: 3.5rem;
       
    }
    .infonelio{
        padding-bottom: 4rem;
        

    }
    

    .timeline{
       width: 90%;
       
           
    }
    .btnbody{
        width: 90%;
        
        margin-top: 3rem;
}
    
    .morebtn{
        font-size: 2.2rem;
        padding: 1.5rem 4rem;
         
    }
    .divider{
        display: none;
    }
    

    
    .services .pmeet{
        text-align: center;
        max-width: 120rem;
    }
    .services  .ptext{
        text-align: justify;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }
    .beneficios{
        gap: 2rem;
        margin-bottom: 6rem;
        width: 90%;
    }
    .h1meet{ 
        font-size:3rem;
    }
    
    .contbene{
        margin-bottom: 0rem;
    }
    .contbene img{
        width: 40%;
     }
     .contbene p{
        font-size: 1.4rem;
        width: 14.1rem;
        margin-top: 1.4rem;
        text-transform: uppercase;
        line-height: 2rem;
     }
     .introteste{
        width: 80%;
     }
     .introteste h1{
        font-size: 3rem;
        line-height: 4rem;
    
     }
     .d21 p{
        margin-right: 4.5rem;
     }
     .introteste p{
        font-size: 1.6rem;
        line-height: 2rem;
        max-width: 100rem;
        
   
     }
     .perfil{
        flex-direction: row;
        width: 95%;
        
    }

    
    .name{
        bottom: 6rem;
    }
    .name h2{
        font-size: 2rem;
    }
    .name p{
        font-size: 1.4rem;
    }
    .testemunho {
        margin-right: 5rem;
    }
    .testemunho img:nth-child(4){
        display: flex;
        width: 100%;
        margin-top: 3rem;
    }
    
    .testemunho p{
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .contacts{
        
        flex-direction: row;
        gap: 8rem;
    
    }
    form{
        width: 45rem;
    }
    form .input{
        padding: 1.4rem;
        width: 45rem;
        
    
    
    }
    form .submit{
        font-size: 2rem;
        padding: 1.5rem;
        width: 18rem;
        
    }
    .icons img{
        width: 4rem;
    }
   
    .cabecalho{
        margin-top:2rem;
    }
    .cabecalho h1{
        padding: 4rem 0 2rem;
        font-size: 2rem;
    }
    .cabecalho .titulos{
        padding-bottom: 2rem;
    }
    .cabecalho .titulos p{
        font-size: 1.4rem;
    }
    .experience{
        flex-direction: row;
        background: #303030;
        width: 100%;
        padding: 6rem 6rem 6rem;
        /* position: absolute; */
    }
    
    .quntdata p{
        
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    

        
        .premio p{
            font-size: 1.8rem;
            width: 80%;

        }
        #incluso_A{
            display: none;
        }
        #incluso{
            display: grid;
            width: 80%;
            margin: auto;
            grid-template-areas: "A B B" "C C D" "E F F";
            gap: 2rem;
           
        }
       
        .intext{
            display: flex;
            align-items: center;
            background: #303030;
            min-height: 24.4rem;
            padding: 4rem;
        } 
       
        .intext p{
            font-size: 1.4rem;
            line-height: 2rem;
            color: #D9D9D9;
            text-align: justify;
            
        }
        .intext h1{
            text-align: center;
            font-size: 2rem;
            width: 80%;
            margin: auto;
            color: #D9D9D9;
            
        }
       .intext  span{
            font-weight: bold;
            color: #ffffff;
        }
        #incluso div:nth-child(1){
            grid-area: A;
        }
        
        #incluso div:nth-child(2){
            grid-area: B;
        }
        #incluso div:nth-child(3){
            grid-area: C;
        }
        #incluso div:nth-child(4){
            grid-area: D;
        }
        #incluso div:nth-child(5){
            grid-area: E;
        }
        #incluso div:nth-child(6){
            grid-area: F;
        }
        /* .ptext{
            text-align: justify;
        }
         */
         
         
    }
    
     
@media (min-width: 868px){
    .herosection{
        /* min-height: 81.5rem; */
        padding: 0 5.5rem 0 5.5rem;
    }
    .navbar{
        display: flex;
        padding: 3.2rem 0 0rem 0;
        justify-content: space-between;
        align-items: center;
    }
    .navbar_mobile{
        display: none;
    }
    .heroimage-mobile{
        display: none;
    }
    
    .hero{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        flex-direction: row;
        align-items: flex-start;
       

    }
    .herocontent{
        width: 40.8rem;
          
    }
     .heroimage{
        display: flex;
        width: 45%;
        /* margin: 5.5rem 0 0 0; */
        position: relative;
        z-index: -2;
    }
    .th{
        font-size: 3rem;
        margin-top: 8rem;
    }
    .th-span{
        line-height: 3.5rem;
    }
    .subth{
        font-size: 2.2rem;
        line-height: 3.5rem;
        width: 43rem;
    }
   
    #cta-hero{
        
        font-size: 2.4rem;
        padding: 1.4rem 2.8rem;
    
       
        
    }
    #cta-hero:hover{
        padding: 1.6rem 3rem;
        background-color: #DB1D1D;
    }
    .overlay{
        background: linear-gradient(180deg, rgba(13, 13, 13, 0.00) 0%, #000 104.59%);    
    
    }

    
    .neliomeet{
        max-width: 60%;
    }
    .h1meet{
        font-size: 3rem;
        letter-spacing: 2.4px;

    }
  
  .pmeet{
        line-height: 2.6rem;
        
        text-align: start;
        margin-top: 2rem;
    }
   
    .timeline div h2{
        font-size: 3rem;
    }
    .timeline div p{
        font-size: 1.4rem;
        line-height: 2rem; 
        text-align: center;
    }
    .btnbody{
        margin-top:5rem;
    }
    .morebtn{
        font-size: 2.4rem;
        padding: 2rem 4rem;
         
    }
    .perfil{
        flex-direction: row;
        width: 95%;
        
    }

    
    .name{
        bottom: 6rem;
    }
    .name h2{
        font-size: 2rem;
    }
    .testemunho {
        margin-right: 5rem;
    }
    .testemunho img:nth-child(4){
        display: flex;
        width: 100%;
        margin-top: 3rem;
    }
    
    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #303030;
        width: 50%;
        height: 40rem;
        gap: 2rem;
    
    }
    .left .logo{
        display: flex;
        font-weight: normal;
        font-size:4rem;
    }
    .icons{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
    .icons img{
        width: 4rem;
    }
    .iconsmob{
        display: none;
    }
    .left h3{
        text-decoration: underline;
        font-size: 1.8rem;
        margin-top: 4rem;
    }
    .contacts{
        display: flex;
        align-items: center;
        gap: 4rem;
    
    }
    
    .contacts p, a{
        font-size: 1.8rem;
    }
    .contacts p{
        padding: 0.5rem;
    }
    .contacts a{
        color: white;
        text-decoration: none;
    }
    .formmob{
        display: none;
    }
    
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background: #1534A9;
        height: 40rem;
    }
    
    form{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 30rem;
    }
    form .label{
        font-size: 2.4rem;
        
    }
    form .input{
        font-size: 1.8rem;
        padding: 1.2rem;
        border-radius: 0.5rem;
        border: none;
        width: 33rem;
        outline: none;
    
    
    }
    form .submit{
        font-size: 1.8rem;
        padding: 1.2rem;
        width: 15rem;
        border-radius: 0.5rem;
        border: none;
        background: #DB1D1D;
        color: white;
    }

    .cabecalho{
        margin-top:2rem;
    }
    .cabecalho h1{
        padding: 7rem 0 5rem;
        font-size: 3.2rem;
    }
    .cabecalho .titulos{
        padding-bottom: 2rem;
    }
    .cabecalho .titulos p{
        font-size: 2rem;
    }
    .experience{
        /* padding:5rem 10rem; */
        /* position: absolute; */
    }

    
    
   
}
@media(min-width: 900px){

}
@media(min-width: 1024px){
    .herocontent{
        width: 90%;
        margin-bottom: 5rem;
    }
    .th{
        font-size: 4rem;
        line-height:4rem;
    }
    .subth{
        font-size: 2.4rem;
    }
    .meet-nelio h1{
        font-size: 4rem;
       
    }
    .meet-nelio .infonelio{
        padding-bottom: 12rem;
    }
    .meet-nelio p{
        line-height: 2.8rem;
        font-size: 1.8rem;
        text-align: start;
      
    }
    .timeline{
        margin-top: 4rem;

    }
    .timeline div h2{
        margin-bottom: 0;
    }
    .timeline div p{
        margin-top: 0;
        text-align: center;
    }
    
    .beneficios{
        gap: 1rem;
        margin-bottom: 6rem;
        width: 90%;
    }
    .contbene{
        margin-bottom: 0rem;
    }
    .contbene img{
        width: 30%;
     }
     .contbene p{
        font-size: 1.4rem;
        width: 19.6rem;
        margin-top: 1.4rem;
        text-transform: uppercase;
        line-height: 3rem;
        
     }

     .name{
        bottom: 7rem;
     }
     .testemunho{
        margin-bottom: 8rem;
     }

     .card-list .card-item{
       
        width: 27rem;
        height: 55rem;
        
    
    }
    form{
        width: 42rem;
    }
    form .input{
        padding: 1.4rem;
        width: 42rem;
        
    
    
    }
    form .submit{
        font-size: 2rem;
        padding: 1.3rem;
        width: 16rem;
        
    }
    .intext p{
        font-size: 1.8rem;
        line-height: 3.3rem;
        
    }
    .intext h1{
        text-align: center;
        font-size: 2.4rem;
        width: 80%;
        margin: auto;
        
    }

}